<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">

    <title>
      AdonisJS - A fully featured web framework for Node.js
    </title>
    @viteReactRefresh()
    @vite(['resources/css/app.css', 'resources/js/app.jsx'])
  </head>
  <body>
    <div id="app">
    </div>

  </body>
</html>
